
<div class="container">
  <div class="row">
    <img class="alignleft wp-image-63595 size-medium" src="https://i0.wp.com/www.itnation.lu/content/uploads/2020/09/SBsoftware3.jpg?resize=300%2C113&#038;ssl=1" alt="" width="300" height="113" srcset="https://i0.wp.com/www.itnation.lu/content/uploads/2020/09/SBsoftware3.jpg?resize=300%2C113&amp;ssl=1 300w, https://i0.wp.com/www.itnation.lu/content/uploads/2020/09/SBsoftware3.jpg?w=340&amp;ssl=1 340w" sizes="(max-width: 300px) 100vw, 300px" data-recalc-dims="1" />
    <div class="col-md-4 offset-md-3 mt-5">
      <div class="card">
        <h4 class="card-header" style="background-color:rgb(189, 178, 240)"><b>Reset your password</b></h4>
        <div class="card-body">  
          <form [formGroup]="form" #EmailInformation (ngSubmit)="EmailForm(EmailInformation)">   
            <div class="row">  
              <div class=" col-md-12 col-md-offset-2">  
                <label for="email"> Email </label>  
                <input formControlName="email" class="form-control" type="text"> 
                <span
                 *ngIf="!form.get('email').valid && form.get('email').touched && !form.get('email').dirty"
                  class="help-block">Email address is required !
                </span>
                <span
                  *ngIf="!form.get('email').valid && form.get('email').dirty"
                  class="help-block">Please enter a valid email address!
                </span>
          
              </div>  
            </div> 

  
            <div class="row" style="margin-top: 15px;">  
              <!-- <div class="col-md-8 col-md-offset-2">   -->
              <div class="col-md-12 col-md-offset-2">
                <button class="btn btn-md btn-success btn-style pull-left "  [disabled]="!form.valid">Submit</button>  
                <br> <br> <hr>
                <a href="http://localhost:4200/login" style="font-size: medium;">Login</a>
                <div *ngIf="errorValidation" class="alert alert-danger mt-3 mb-0">Email not found</div>

          </div>  
        </div>  
  
  
          </form> 

<!-- <div class="row" style="margin-top: 40px;">  
    <div class="col-md-8 col-md-offset-2">   
        <button class="btn btn-primary btn-style pull-left" (click)="onCancel()">Login</button>
    </div>  
  </div>  -->
      </div>
    </div>
  </div>
</div>

<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
