<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  
    <div id="create_quiz">

      <mat-card>
        <mat-card-title  style="background-color:#a0a1d1">Create Quiz</mat-card-title>
  
          <!-- <h2 class="heading">Create Quiz</h2> -->
          <mat-card-content>
            <br>
    <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && createQuiz() " novalidate class="form" >
  
      <!-- <div class="form-group mt-2">
        <label for="quizName">Name:</label>
        <input type="text" class="form-control" id="quizName" name="name" #name="ngModel" [(ngModel)]="quiz.quizName" [ngClass] = "{'is-invalid':f.submitted && name.invalid}" required>
        <div *ngIf="f.submitted && name.invalid" class="invalid-input">
          <div *ngIf="name.errors?.required">Name is not valid</div>

        </div> -->

        <mat-form-field class="full-width">
          <mat-label>Quiz Name</mat-label>
          <input matInput name="name" #name="ngModel" [(ngModel)]="quiz.quizName" [ngClass] = "{'is-invalid':f.submitted && name.invalid}" required>
          <div *ngIf="f.submitted && name.invalid" class="invalid-input">
            <div *ngIf="name.errors?.required">Name is not valid</div>
          </div>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Description:</mat-label>
        <textarea matInput name="quizDesc" [(ngModel)]="quiz.description"></textarea>
      </mat-form-field>

      <mat-form-field >
        <mat-label>Time to complete Quiz</mat-label>
        <input matInput name="time" [(ngModel)]="quiz.quizTime">
      </mat-form-field>
      mins

      <mat-form-field class="full-width">
        <mat-label>Start Date:</mat-label>
        <input matInput name="startDate" type="datetime-local" placeholder="start date" [(ngModel)]="quiz.startDate">
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>End Date:</mat-label>
        <input matInput name="endDate" type="datetime-local" placeholder="end date" [(ngModel)]="quiz.endDate" >
      </mat-form-field>


      <!-- </div> -->
      <!-- <div class="form-group">
        <label for="quizDesc">Description:</label>
        <input type="text" class="form-control" id="quizDesc" name="quizDesc" [(ngModel)]="quiz.description">
      </div> -->
    <br/>
    <br/>
    <!-- <button type="submit"  class="btn btn-primary">Add Questions</button> -->

    <button mat-raised-button type="submit" color="primary" class="pull-right">Add Questions</button>
      <br><br>
    </form>
  </mat-card-content>
  <hr/>
  <br/>
  </mat-card>
  </div>
   
  <router-outlet></router-outlet>

</body>
</html>