.navButton {
    text-decoration: none;
    color: #ffffff;
    font-weight: 100;
    font-size: medium;
    margin: 0 1rem 0 3rem;
}

#logout{
    position: absolute;
    right: 0;
    margin-right: 2rem;
}


#footer {
    margin-bottom: auto;
    margin-top: 5rem;
}

.main{
    min-height: calc(100vh-64px-64px);
}

