<mat-toolbar id="header" color="primary">
    <span>
      <h1>Quiz Portal</h1>
    </span>
    <a class="navButton" routerLink="/dashboard">Dashboard</a>
    <button mat-raised-button id="logout" (click)="logOut()">Log Out</button>
  </mat-toolbar>
  <div class="main">
    <router-outlet></router-outlet>
  </div>
  
  <!-- <div class="Questions">
    <app-add-questions></app-add-questions>
  </div> -->
  
  <mat-toolbar id="footer" color="primary">
    &#169; Sopra Banking Software
  </mat-toolbar>

