
<form [formGroup]="form" #userInformation (ngSubmit)="userForm(userInformation)"
class="form-verticle"> 
  <div class="row">  
    <div class=" col-md-8 col-md-offset-2">  
        <label for="password"> Username </label>  
        <input formControlName="password" class="form-control" type="password"
        minlength="5" maxlength="12" >  
        <div *ngIf="f.password.touched && f.password.invalid" class="alert alert-danger">
          <div *ngIf="f.password.errors.required">Username is required.</div>
          <div *ngIf="f.password.errors.maxlength"></div>
            <div *ngIf="f.password.errors.minlength">
              <ul>
             <li>Must be at least 5 characters long.</li>
             <li>Must start with character.</li>
             <li>Must contain only alphanumeric and underscore.</li>
             </ul>
            </div>
      </div> 
    </div>  
  </div>   
  <div class="row" style="margin-top: 40px;">  
    <div class="col-md-offset-1 col-md-4">  
        <button class="btn btn-md btn-primary btn-style"  [disabled]="!form.valid">Save</button>  
    </div>  
  </div>  
</form>  