<div class="container">
    <div class="row">
        <img class="alignleft wp-image-63595 size-medium" src="https://i0.wp.com/www.itnation.lu/content/uploads/2020/09/SBsoftware3.jpg?resize=300%2C113&#038;ssl=1" alt="" width="300" height="113" srcset="https://i0.wp.com/www.itnation.lu/content/uploads/2020/09/SBsoftware3.jpg?resize=300%2C113&amp;ssl=1 300w, https://i0.wp.com/www.itnation.lu/content/uploads/2020/09/SBsoftware3.jpg?w=340&amp;ssl=1 340w" sizes="(max-width: 300px) 100vw, 300px" data-recalc-dims="1" />
        <div class="col-md-5 offset-md-3 mt-5">
            <div class="card">
                <h3 class="card-header" style="background-color:rgb(189, 178, 240)"><b>Welcome to SBSI Quiz Portal</b></h3>
                <div class="card-body">  
                    <form [formGroup]="loginForm">
                        <div class="form-group">

                            <label for="username">Email</label>
                            <input  type="text"  placeholder="john@abc.com" required formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                                <div *ngIf="f.username.errors.required">Email is required</div>
                            </div>
                            
                        </div>
                        
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" required formControlName="password"  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                    <div *ngIf="f.password.errors.required">Password is required</div>
                                    <div *ngIf="f.password.errors.pattern">Password is not according to pattern</div>
                        </div>
                </div>

               
                <button (click)="onSubmit" class="btn btn-success pull-left">
                    Login
                </button>

                <button class="btn btn-primary pull-right"(click)="googleSignIn()">
                    Sign in with Google
                </button>

                
                <br>
                <br>

                <div *ngIf="loginErrorCredentials" class="alert alert-danger mt-3 mb-0">Invalid Credentials</div>
                <div *ngIf="loginErrorEmail" class="alert alert-danger mt-3 mb-0">Email not found</div>
                <hr>
                <a href ="http://localhost:4200/forgotten-password" (click)="onForget()"> 
                    Forgot Password?
                </a>
                <a href="http://localhost:4200/registration" class="pull-right">
                New user? Signup</a>
                <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>

                <!-- <hr>
                <div align="center">
                <button class="center" (click)="googleSignIn()"  style="border-radius: 30px; ">
                    <img src="assets/image/GoogleLogo.png" alt="title logo" style="height: 15px;width:auto; padding-right: 5px;">
                Sign In With Google</button>
                </div> -->
                
            </form>
        </div>
    </div>
    </div>
    </div>
</div>