

<div id="add_main">

    <mat-card>
        <!-- <mat-card-title >Add Questions</mat-card-title> -->

        <h2 class="heading">Add Questions</h2>        

        <form [formGroup]="question_form" class="form" (ngSubmit)="onSubmit()">
            <mat-form-field class="full-width">
                <mat-label>Question</mat-label>
                <input matInput formControlName="question_text">
                
            </mat-form-field>
            
                <input style="display:none;" #fileInput ng2FileSelect type="file" accept="image/*" (change)="onFileSelected($event)">
                <button type="button" class="photo" (click)="fileInput.click()"><mat-icon>photo</mat-icon></button>
            <div>
                <img [src]="this.question_form.value.ques_Image" height="125" width="125" *ngIf="this.question_form.value.ques_Image">
            </div>

            <mat-form-field appearance="fill" id="type">
                <mat-label>Type of Question</mat-label>
                <mat-select [(ngModel)]="typeValue" formControlName="type">
                  <mat-option value="Single Correct">Single Correct</mat-option>
                  <mat-option value="Multiple Correct">Multiple Correct</mat-option>
                  <mat-option value="Textual">Textual Questions</mat-option>
                </mat-select>
            </mat-form-field>

            <button mat-raised-button type="submit" color="primary" class="pull-right">Add Question</button>
    
            <ng-container *ngIf="typeValue=='Single Correct'">
                <div class="single form-group" >
                
                    <mat-form-field>
                        <mat-label>Option 1</mat-label>
                        <input matInput type="text" formControlName="option1">
                    </mat-form-field>
                    <input style="display:none;" #option1Img ng2FileSelect type="file" accept="image/*" (change)="onOption1FileSelected($event)">
                    <button type="button" class="photo" (click)="option1Img.click()"><mat-icon>photo</mat-icon></button>
                
                    <img [src]="this.question_form.value.option1_Image" height="125" width="125" *ngIf="this.question_form.value.option1_Image">
                
                    <mat-radio-button ngDefaultControl formControlName="correct" value="1" class="correct">Correct</mat-radio-button>
          
                    <mat-form-field>
                        <mat-label>Option 2</mat-label>
                        <input matInput type="text" formControlName="option2">
                    </mat-form-field>
                    <input style="display:none;" #option2Img ng2FileSelect type="file" accept="image/*" (change)="onOption2FileSelected($event)">
                    <button type="button" class="photo" (click)="option2Img.click()"><mat-icon>photo</mat-icon></button>
                
                    <img [src]="this.question_form.value.option2_Image" height="125" width="125" *ngIf="this.question_form.value.option2_Image">
                    <mat-radio-button ngDefaultControl formControlName="correct" value="2" class="correct">Correct</mat-radio-button>
                    
                    
                    <mat-form-field>
                        <mat-label>Option 3</mat-label>
                        <input matInput type="text" formControlName="option3">
                    </mat-form-field>
                    <input style="display:none;" #option3Img ng2FileSelect type="file" accept="image/*" (change)="onOption3FileSelected($event)">
                    <button type="button" class="photo" (click)="option3Img.click()"><mat-icon>photo</mat-icon></button>
                
                    <img [src]="this.question_form.value.option3_Image" height="125" width="125" *ngIf="this.question_form.value.option3_Image">
                    <mat-radio-button ngDefaultControl formControlName="correct" value="3" class="correct">Correct</mat-radio-button>
                    
                    
                    <mat-form-field>
                        <mat-label>Option 4</mat-label>
                        <input matInput type="text" formControlName="option4">
                    </mat-form-field>
                    <input style="display:none;" #option4Img ng2FileSelect type="file" accept="image/*" (change)="onOption4FileSelected($event)">
                    <button type="button" class="photo" (click)="option4Img.click()"><mat-icon>photo</mat-icon></button>
                
                    <img [src]="this.question_form.value.option4_Image" height="125" width="125" *ngIf="this.question_form.value.option4_Image">
                    <mat-radio-button ngDefaultControl formControlName="correct" value="4" class="correct">Correct</mat-radio-button>
                    
                </div>
            </ng-container>
    
            <ng-container *ngIf="typeValue=='Multiple Correct'">
                <div class="multiple form-group">
                
                    <mat-form-field>
                        <mat-label>Option 1</mat-label>
                        <input matInput type="text" formControlName="option1">
                    </mat-form-field>
                    <input style="display:none;" #option1Image ng2FileSelect type="file" accept="image/*" (change)="onOption1FileSelected($event)">
                    <button type="button" class="photo" (click)="option1Image.click()"><mat-icon>photo</mat-icon></button>
                
                    <img [src]="this.question_form.value.option1_Image" height="125" width="125" *ngIf="this.question_form.value.option1_Image">
                    <mat-checkbox ngDefaultControl formControlName="correct1" value="1" class="correct">Correct</mat-checkbox>
        
                    <mat-form-field>
                        <mat-label>Option 2</mat-label>
                        <input matInput type="text" formControlName="option2">
                    </mat-form-field>
                    <input style="display:none;" #option2Image ng2FileSelect type="file" accept="image/*" (change)="onOption2FileSelected($event)">
                    <button type="button" class="photo" (click)="option2Image.click()"><mat-icon>photo</mat-icon></button>
                
                    <img [src]="this.question_form.value.option2_Image" height="125" width="125" *ngIf="this.question_form.value.option2_Image">
                    <mat-checkbox ngDefaultControl formControlName="correct2" value="2" class="correct">Correct</mat-checkbox>
        
                    <mat-form-field>
                        <mat-label>Option 3</mat-label>
                        <input matInput type="text" formControlName="option3">
                    </mat-form-field>
                    <input style="display:none;" #option3Image ng2FileSelect type="file" accept="image/*" (change)="onOption3FileSelected($event)">
                    <button type="button" class="photo" (click)="option3Image.click()"><mat-icon>photo</mat-icon></button>
                
                    <img [src]="this.question_form.value.option3_Image" height="125" width="125" *ngIf="this.question_form.value.option3_Image">
                    <mat-checkbox ngDefaultControl formControlName="correct3" value="3" class="correct">Correct</mat-checkbox>
        
                    <mat-form-field>
                        <mat-label>Option 4</mat-label>
                        <input matInput type="text" formControlName="option4">
                    </mat-form-field>
                    <input style="display:none;" #option4Image ng2FileSelect type="file" accept="image/*" (change)="onOption4FileSelected($event)">
                    <button type="button" class="photo" (click)="option4Image.click()"><mat-icon>photo</mat-icon></button>
                
                    <img [src]="this.question_form.value.option4_Image" height="125" width="125" *ngIf="this.question_form.value.option4_Image">
                    <mat-checkbox ngDefaultControl formControlName="correct4" value="4" class="correct">Correct</mat-checkbox>
                </div>
            </ng-container>
    
            <ng-container *ngIf="typeValue=='Textual'" class="textual">
                <div class="form-group">
                    <mat-form-field>
                        <mat-label>Answer Text</mat-label>
                        <textarea matInput formControlName="text_answer"></textarea>
                    </mat-form-field>
                </div>
            </ng-container>
            
        </form>
    </mat-card>
    

    <mat-card id="card">
        <!-- <mat-card-title>Added Questions</mat-card-title> -->
        <div id="addedQuestions">
            
            <h2 class="heading">Added Questions</h2>
            <ol>
                <li *ngFor="let q of questions" >
                    <div class="ques" >
                        {{ q.question }}
                        Type : {{ q.quesType }}
                        <button mat-mini-fab color="warn" class="pull-right" aria-label="Delete" (click)="onDelete(q)">
                            <mat-icon>delete</mat-icon>
                        </button>
                        <div>
                            <img [src]="q.quesImage" height="125" width="125" *ngIf="q.quesImage">
                        </div>
                        <ng-container *ngIf="q.quesType =='Single Correct'">
                            <div>
                                <ol>
                                    <li>{{ q.option1 }}</li>
                                    <div>
                                        <img [src]="q.option1Image" height="125" width="125" *ngIf="q.option1Image">
                                    </div>
                                    <li>{{ q.option2 }}</li>
                                    <div>
                                        <img [src]="q.option2Image" height="125" width="125" *ngIf="q.option2Image">
                                    </div>
                                    <li>{{ q.option3 }}</li>
                                    <div>
                                        <img [src]="q.option3Image" height="125" width="125" *ngIf="q.option3Image">
                                    </div>
                                    <li>{{ q.option4 }}</li>
                                    <div>
                                        <img [src]="q.option4Image" height="125" width="125" *ngIf="q.option4Image">
                                    </div>
                                    Correct Answer: {{q.correct}}
                                </ol>  
                            </div>
                        </ng-container>
                        <ng-container *ngIf="q.quesType =='Multiple Correct'">
                            <div class="options">
                                <div>
                                    <ol>
                                        <li>{{ q.option1 }} </li>
                                        
                                            <img [src]="q.option1Image" height="125" width="125" *ngIf="q.option1Image">
                                       
                                        <li>{{ q.option2 }} </li>
                                        <img [src]="q.option2Image" height="125" width="125" *ngIf="q.option2Image">
                                        <li>{{ q.option3 }} </li>
                                        <img [src]="q.option3Image" height="125" width="125" *ngIf="q.option3Image">
                                        <li>{{ q.option4 }} </li>
                                        <img [src]="q.option4Image" height="125" width="125" *ngIf="q.option4Image">
                                    </ol>
                                </div>

                                <div >
                                    <ul id="mulCorr">
                                        <li>{{q.correct1}}</li>
                                        <li>{{q.correct2}}</li>
                                        <li>{{q.correct3}}</li>
                                        <li>{{q.correct4}}</li>
                                    </ul>
                                </div>
                            </div>
                        </ng-container>
                        
                        <ng-container *ngIf="q.quesType =='Textual'">
                            <div>
                                {{ q.textAnswer }}
                            </div>
                        </ng-container>
                    </div>
                </li>
            </ol>
            <button mat-raised-button color="primary" id="create" (click)="saveQuestions()">Create Quiz</button><br>
        </div>
        <br>
    </mat-card>
    

    
    

</div>

<router-outlet></router-outlet>
