<h3 style="text-align:center;">
    Quiz Sharing Module
    
</h3>
<html>
    <body>
        <div style="text-align:center;">
            <h3 >Congratulations! Your  quiz has been succesfully created!</h3>
            <br><br>
            Click below to share quiz with your participants<br>
            <button (click)="onClickMe()" class="btn btn-primary">Share</button>
        </div>  
            {{clickMessage}}
            <input class="hide" type="text" id="textInput" value={{href}}/>
                  
    </body>
</html>