<div class="container">
    <div class="row">
      <img class="alignleft wp-image-63595 size-medium" src="https://i0.wp.com/www.itnation.lu/content/uploads/2020/09/SBsoftware3.jpg?resize=300%2C113&#038;ssl=1" alt="" width="300" height="113" srcset="https://i0.wp.com/www.itnation.lu/content/uploads/2020/09/SBsoftware3.jpg?resize=300%2C113&amp;ssl=1 300w, https://i0.wp.com/www.itnation.lu/content/uploads/2020/09/SBsoftware3.jpg?w=340&amp;ssl=1 340w" sizes="(max-width: 300px) 100vw, 300px" data-recalc-dims="1" />
      <div class="col-md-5 offset-md-3 mt-5">
        <div class="card">
          <h4 class="card-header">Reset Password</h4>
          <div class="card-body">
<div class="text-center">
    <br>
    <h4>Your password has been reset successfully!</h4>
    
    <button class="btn btn-primary" type="login" (click)="onCancel()">Login</button>
</div>
</div>
</div>
</div>
</div>
