
<div class="container">
  <div class="row">
    <img class="alignleft wp-image-63595 size-medium" src="https://i0.wp.com/www.itnation.lu/content/uploads/2020/09/SBsoftware3.jpg?resize=300%2C113&#038;ssl=1" alt="" width="300" height="113" srcset="https://i0.wp.com/www.itnation.lu/content/uploads/2020/09/SBsoftware3.jpg?resize=300%2C113&amp;ssl=1 300w, https://i0.wp.com/www.itnation.lu/content/uploads/2020/09/SBsoftware3.jpg?w=340&amp;ssl=1 340w" sizes="(max-width: 300px) 100vw, 300px" data-recalc-dims="1" />
    <div class="col-md-5 offset-md-3 mt-5">
      <div class="card">
        <h4 class="card-header" style="background-color:rgb(189, 178, 240)"><b>Reset Password</b></h4>
        <div class="card-body">
<form [formGroup]="form" #ResetPwdInformation (ngSubmit)="ResetPwdForm(ResetPwdInformation)"
class="form-horizontal"> 
  <div class="row">  
    <div class=" col-md-12 col-md-offset-2">  
        <label for="password"> Password </label>  
        <input formControlName="password" class="form-control" type="password"
        minlength="8" maxlength="20" >  
        <div *ngIf="f.password.touched && f.password.invalid" class="alert alert-danger">
          <div *ngIf="f.password.errors.required; else lengthButInvalid">Password is required.</div>
          <div *ngIf="f.password.errors.maxlength">Password length can not exceed 20.</div>
            <ng-template #lengthButInvalid>
              <div >
                  
              <ul>
               <li *ngIf="f.password.errors.minlength">Must be at least 8 characters long.</li>
               <li>Must contain at least 1 number.</li>
               <li>Must contain at least 1 letter in Capital Case.</li>
               <li>Must contain at least 1 letter in Small Case.</li>
               <li>Must contain at least 1 Special Character!</li>
               </ul>
              </div>
            </ng-template>
            
      </div> 
      <app-password-strength [passwordToCheck]="f.password.value" [barLabel]="barLabel">  
      </app-password-strength>
    </div>  
  </div>  
  
  <div class="row">  
    <div class=" col-md-12 col-md-offset-2">  
        <label for="confirmPassword"> Confirm Password </label>  
        <input formControlName="confirm_password" class="form-control" type="password"> 
        <div *ngIf="f.confirm_password.touched && f.confirm_password.invalid" class="alert alert-danger">
          <div *ngIf="f.confirm_password.errors.required">Password is required.</div>
          <div *ngIf="f.confirm_password.errors.confirmedValidator">Password and Confirm Password must be match.</div>
      </div>
      <app-password-strength [passwordToCheck]="f.confirm_password.value" [barLabel]="barLabel">  
      </app-password-strength>  
    </div>  
  </div>  
  <div class="row" style="margin-top: 20px;">  
    <div class="col-md-offset-2 col-md-12">  
        <button class="btn btn-md btn-success btn-style pull-right" id="bn"  [disabled]="!form.valid">Save</button>  
    </div>  
  </div>  
  
</form>  
</div>
</div>
</div>
</div>
