
.create {
    
    margin-left:25%;

}

.created{
   
    margin-left: 27%;
}

#dashboard {
    min-height: 20vh;
    padding: 6rem 0 1.7rem 0 ;
}

#main_card {
    background-color:rgb(248, 248, 248);
    width: 70%;
    margin: auto;
    vertical-align: middle;
    padding: 5.47rem 0;
    border-radius: 20px;
}

div {
    column-gap: 100px;
    
  }

.mat-card:not([class*=mat-elevation-z]) {
    border: 1px solid;
    /* padding: 10px; */
    box-shadow: 5px 5px 5px 5px #b0b0b0;
  }
